/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 28.01.2015, 23:24:19
    Author     : Medved
*/

body{
    background-color: #006699;
    
}

#screen{
    
    width:1000px;
    height:700px;
    background-image: url("bg.jpg");
}

.player{
    
    width:50px;
    height:50px;
    position:absolute;
    margin-top: 325px;
    background-image: url("ship.png");
    background-size: 50px 50px;
}

#player1{
    transform: rotate(90deg);
    margin-left: 50px;
}
#player2{
    transform: rotate(-90deg); 
    margin-left: 900px;
}